.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 20px;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}

[class^='col-'] {
  position: relative;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

@function widthColumn($base) {
  @return 100/ (12 / $base);
}

/* Mobile View */
@media (min-width: 240px) {
  @for $i from 1 through 12 {
    .col-xs-#{$i} {
      width: widthColumn($i) * 1%;
      padding-left: 10px;
      padding-right: 10px;
    }

    .offset-xs-#{$i} {
      margin-left: widthColumn($i) * 1%;
    }
  }
}

/* Tablet View */
@media (min-width: 768px) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: widthColumn($i) * 1%;
      padding-left: 10px;
      padding-right: 10px;
    }

    .offset-sm-#{$i} {
      margin-left: widthColumn($i) * 1%;
    }
  }
}

/* Desktop View */
@media (min-width: 992px) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: widthColumn($i) * 1%;
      padding-left: 10px;
      padding-right: 10px;
    }

    .offset-md-#{$i} {
      margin-left: widthColumn($i) * 1%;
    }
  }
}
