@import '../../assets/scss/colorVariables';

.table-custom {
  width: 100%;

  thead {
    text-align: left;
    background-color: $secondaryColor;
    color: $textColor;

    th {
      padding: 8px;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid rgba($primaryColor, 0.3);
    }
    td {
      padding: 8px;
    }
  }
}
