.brand_logo {
  display: flex;
  align-items: flex-end;
  color: white;

  &.red {
    color: #fd1d1d;
  }

  .brand_image {
    &.medium {
      width: 75px;
    }

    &.small {
      width: 50px;
    }

    &.large {
      width: 125px;
    }
  }

  .brand_name {
    position: relative;
    font-weight: 500;
    letter-spacing: -1px;

    &.medium {
      left: -45px;
      bottom: 20px;
      font-size: 1.5rem;
    }

    &.small {
      font-size: 1.15rem;
      left: -25px;
      bottom: 10px;
    }

    &.large {
      font-size: 2.25rem;
      left: -75px;
      bottom: 30px;
    }
  }
}
